#content {
	margin:  0 auto;
	width:  900px;
}

#byline {
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
}

h1 {
	font-style: Helvetica, sans-serif;
	font-size: 14px;
}

p {
	font-style:  Georgia, serif;
	font-size: 13px;
}

h2 {
	font-style: Helvetica, sans-serif;
	font-size: 14px;
}

.pquote {
    float: left;
    width: 100px;
    background: #ddf;
    font-weight: bold;
    padding: 13px;
    margin: 0 13px 13px 0;
}

blockquote {
    margin: 0; /* gets rid of the default blockquote margin */
}

h3 {
	font-style: Helvetica, sans-serif;
	font-size: 14px;
}

