#content {
	margin:  0 auto;
	width:  900px;
}

#byline {
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	text-align: center;
}

body {
    font-family:  Open Sans, Arial, sans-serif;
    font-size:  1em;
    color:  #444;
    font-weight:  400;
    background-color: lightblue;
}

<style>
.banner {
    /* The image used */
    background-image:
    url(rapinoe2.jpg);
  }
</style>


h1 {
	font-style: sans-serif;
	font-size: 18px;
	text-align: center;
}

h2 {
	font-style:  sans-serif;
	font-size: 18px;
	text-align: center;
}

h3 {
    font-style:  sans-serif;
    font-size: 18px;
    text-align: center;
}

h4 {
    font-style:  sans-serif;
    font-size: 18px;
    text-align: center;
}

p {
	font-style: Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.img-container {
  float: center;
  width: 5%;
  padding: 5px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

img {
  width: 100%;
  height: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.pulledquote {
    display: block;
    float: right;
    padding: 0 0 0 10px;
    margin: 0 0 10px 10px;
    width: 170px;
    font-size: 1.5em;
    line-height: 1.4em;
    text-align: right;
    color: #666;
    border-left: 3px solid #ccc;
}

blockquote {
    margin: 0; /* gets rid of the default blockquote margin */
}

