#content {
	margin:  0 auto;
	width:  900px;
}

#byline {
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
    font-family:  Open Sans, Arial, sans-serif;
    font-size:  1em;
    color:  #444;
    font-weight:  400;
    background-color: lightblue;
}

<style>
.banner {
    /* The image used */
    background-image:
    url(ltqrhbsvqqecis6c3hjj.jpg);
  }
</style>


h1 {
	font-style: sans-serif;
	font-size: 18px;
	text-align: center;
}

h2 {
	font-style:  sans-serif;
	font-size: 18px;
	text-align: center;
}

h3 {
    font-style:  sans-serif;
    font-size: 18px;
    text-align: center;
}

h4 {
    font-style:  sans-serif;
    font-size: 18px;
    text-align: center;
}

p {
	font-style: Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.img-container {
  float: center;
  width: 5%;
  padding: 5px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

img.resize {
    width: 400px;
    height: 300;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.pquote {
    float: right;
    width: 200px;
    background: url(images/openquote.gif) top left no-repeat;
    background-color: darkblue;
    color: white;
    font-size: 26px;
    line-height: 0.9;
    font-style: italic;
    padding: 13px;
}

blockquote {
    margin: 0;
}

.pquote p:first-letter {
    font-size: 39px;
    font-weight: bold;
}

blockquote {
    margin: 0; /* gets rid of the default blockquote margin */
}

